<nav
  class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
  arial-label="Furni navigation bar"
>
  <div class="container">
    <a class="navbar-brand" href="home">Gear H<span class="title_header">
        Cần Thơ</span></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsFurni"
      aria-controls="navbarsFurni"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="home">Trang Chủ</a>
        </li>
        <li><a class="nav-link" href="/sanpham">Sản Phẩm</a></li>
        <li>
          <a class="nav-link" href="About-us">Giới thiệu</a>
        </li>
        <li>
          <a class="nav-link" href="Services">Dịch vụ</a>
        </li>

        <li>
          <a class="nav-link" href="Contact-us">Contact us</a>
        </li>
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        {{#if checklogin}}
          <!-- Đã đăng nhập: Hiện nút đăng xuất -->
          <li>
            <a class="nav-link" href="/dangxuat">Đăng xuất</a>
          </li>
        {{else}}
          <!-- Chưa đăng nhập: Hiện nút đăng nhập -->
          <li>
            <a class="nav-link" href="/dangnhap">Đăng nhập</a>
          </li>
          <li>
            <a class="nav-link" href="cart.html"><img
                src="/images/cart.svg"
              /></a>
          </li>
        {{/if}}
        <li>
          <a class="nav-link" href="/cart"><img
              src="/images/cart.svg"
            /></a>

        </li>
      </ul>

    </div>
  </div>
</nav>