<div class="wrapper">
  <div class="title-text">
    <div class="title login">Đăng nhập </div>
    <div class="title signup">Đăng ký </div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" />
      <input type="radio" name="slide" id="signup" />
      <label for="login" class="slide login">Đăng nhập</label>
      <label for="signup" class="slide signup">Đăng ký</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <form action="" class="login" method="post">
        <div class="field">
          <input type="text" name="email" placeholder="Email" />
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Mật khẩu" />
        </div>
        <div class="pass-link"><a href="#">Quên mật khẩu?</a></div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" name="btn_login" value="Login" />
        </div>
        <div class="signup-link">Bạn chưa có tài khoản?
          <a href="#">Đăng ký ngay</a></div>
      </form>
      <form action="" class="signup" method="post">
        <div class="field">
          <input type="text" name="regemail" placeholder="Địa chỉ email" />
        </div>
        <div class="field">
          <input type="password" name="regpassword" placeholder="Mật khẩu" />
        </div>
        <div class="field">
          <input type="password" name="regreg-password" placeholder="Nhập lại mật khẩu" />
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" name="btn_signup" value="Signup" />
        </div>
      </form>
    </div>
  </div>
</div>